<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link href="../css/responsive.css" rel="stylesheet">
  <link href="../css/search.css" rel="stylesheet">
  <link href="../css/style1.css" rel="stylesheet">
  <script src="../js/fake.js"></script>
  <script src="../js/jquery-events.js"></script>
  <link href="../css/sidebar.css" rel="stylesheet"/>
  <link href="../css/newStyle.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../css/style.css">
    <title>Fake Product View</title>
  </head>
  <script>
  </script>
  <body onload="init()">
    <div class="navbar navbar-static navbar-default navbar-fixed-top">
  		<div class="container-fluid">
  			<div class="navbar-header">
  				<button class="navbar-toggle toggle-left hidden-md hidden-lg" data-target=".sidebar-left" data-toggle="sidebar" type="button"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Fake Product Review</a>
  			</div>
  		</div>
  	</div>
    <div class="col-sm-3 col-md-2 col-xs-7 sidebar sidebar-left sidebar-animate sidebar-md-show">
      <div class="filediv form-control">
        <button class="btn btn-file continue form-control" type="button"><i aria-hidden="true" class="fa fa-upload"></i> <input type="file"></button>
      </div>
      <ul class="nav navbar-stacked">
        <li></li>
        <li style="list-style: none">
          <br>
          <div style="font-size:12px;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>MAIN</b>
          </div>
        </li>
        <li class="active">
          <a href="#"><i aria-hidden="true" class="fa fa-check-circle-o"></i>&nbsp;&nbsp;Overview</a>
        </li>
        <li class="pushup">
          <a href="#about"><i aria-hidden="true" class="fa fa-circle-o"></i> &nbsp;&nbsp;Activity</a>
        </li>
        <li class="pushup">
          <a href="#about"><i aria-hidden="true" class="fa fa-heart-o"></i> &nbsp;Dearest</a>
        </li>
        <li class="pushup">
          <a href="#about"><i aria-hidden="true" class="fa fa-folder-open-o"></i> &nbsp;Folders</a>
        </li>
        <li style="list-style: none">
          <br>
          <div class="pushup" style="font-size:12px;margin-bottom:5px;">
            &nbsp;&nbsp;&nbsp; <b>FILTER</b>
          </div>
        </li>
        <li class="pushup">
          <a href="#contact"><i aria-hidden="true" class="fa fa-picture-o"></i>&nbsp; Images</a>
        </li>
        <li class="pushup">
          <a href="#contact"><i aria-hidden="true" class="fa fa-volume-up"></i> &nbsp; Audio</a><span class="notificationVideoCount" style="position:inline-block;">8</span>
        </li>
        <li class="pushup">
          <a href="#contact"><i aria-hidden="true" class="fa fa-caret-square-o-right"></i> &nbsp; Video</a>
        </li>
        <li class="pushup">
          <a href="#contact"><span class="glyphicon glyphicon-list-alt"></span> &nbsp;Notes</a>
        </li>
        <li class="pushup">
          <a href="#contact"><span class="glyphicon glyphicon glyphicon-link"></span> &nbsp;Links</a>
        </li>
        <li class="pushup">
          <a href="#contact"><i aria-hidden="true" class="fa fa-files-o"></i> &nbsp;Files</a>
        </li>
        <li class="gb">
          50GB/100GB &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+
          <br><br>
          <div class="progress" >
          </div>
        </li>
      </ul>
    </div>
    <div class="main col-sm-12 col-xs-12 col-md-12 " id="globalCntr">
      <div class="page-header">
              <h2>Select Your Domain</h2>
              <div class="itemOptions">
                <div class="col-sm-7 col-md-8 col-xs-12">
                  <div class="col-md-2 noSidePadding automotives">
                    <span class="btn options auto selected">Automotives</span>
                  </div>
                  <div class="col-md-2 noSidePadding cellphones">
                    <span class="btn options cell">Cellphones</span>
                  </div>
                  <div class="col-md-2 noSidePadding clothes">
                    <span class="btn options clo">Clothes</span>
                  </div>
                  </div>
                </div>
                <div class="col-sm-5 col-md-4 col-xs-12 sorting-options">
                  <div class="col-sm-2 col-md-3 visible-sm visible-md visible-lg"></div>
                  <!--
                  <div class="col-sm-2 col-md-2 col-xs-3">
                    <span class="btn">Name</span>
                  </div>
                  <div class="col-sm-2 col-md-2 col-xs-3">
                    <span class="btn">Size</span>
                  </div>
                  <div class="col-sm-2 col-md-2 col-xs-3">
                    <span class="btn" style="margin-left:-8px;">Views</span>
                  </div>
                -->
                  <div class="col-sm-3 col-md-3 col-xs-3 sorting-name">
                    <span class="btn sorting-option-selected">Name</span>
                  </div>
                </div>
          </div>
            <div class="display-area"></div>
    </div>
    <div id="categories">
        <div class="">

    </div>
    <div id="items"></div>



  </body>
</html>
<!-- ng -click for on click,for images ng-src="1-{{state}}.png" if we dont put
ng-src on first parse by htmlit will give error and then angular putsstring.
 ng-bind-html="divHtmlVar" use divHtmlVar to add or remove text-->
